@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
   
    background-color: black ;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}
body{

    color: white;
   
}

::-webkit-scrollbar{
    display: block;
}
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}




/*the headline1*/
#headings{
    display: block;
    margin-left: 2%;
    p{
        margin-top:3%;
        font-weight: 100;
    }
    h1{
        margin-top: 4%;
        font-weight: 500;
    }
}
#contant{
    margin-top: 2%;
}
/*the whole section one about the contact info of ours*/
section{
    display: flex;
    color:white;
}

#one{
    margin-top: 10px;
}
/*box one contain column one email and social profile*/

.box_one{
    flex-basis: 50%;
}
.one{
   border: solid 1px  #00a6ff;
   margin: 4%;
   padding: 1%;
   background-color: rgba(0, 0, 0, 0.24);
   margin-top: 5%;
}

.two{
   border: solid 1px  #00a6ff;
   margin: 4%;
   padding: 1%;
   background-color: rgba(0, 0, 0, 0.24);
   margin-top: 10%;
}




/*box one contain column one contact and coding profile*/
.box_two{
    flex-basis: 50%;
       
}
.three{
   border: solid 1px  #00a6ff;
   margin: 4%;
   padding: 1%;
   background-color: rgba(0, 0, 0, 0.24);
   margin-top: 5%;
}
.four{
    border: solid 1px  #00a6ff;
    margin: 4%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.24);
    margin-top: 10%;
}

/* all icons in the contact */
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 2%;
    margin: 2%;
    border-radius: 35px;
    background-color:#00a6ff;
    i{
        font-size: 25px;  
    } 
} 

.element1{
    display: flex;
    a,p{
        text-decoration: none;
        color:#a7a7a7ad;
    }
}
.itemofelement1{

    a{
        font-size: 20px;
    }
    h2{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px; 
        margin-bottom: 5px;
    }
}
.element2{
    display: flex;
    a{
        text-decoration: none;
        color:#a7a7a7ad;
    }
}

.itemofelement2{
    line-height: 2cap;
    margin-top: 10px;
    margin-left: 10px;
    h2{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-top: 5px; 
        margin-bottom: 8px;
    }
    i{
        font-size: 30px;
    }
}


/*section two*/
.forms{
    margin-top: 1%;
    padding: 1%;
    border: solid 16px transparent;
    background-color: transparent;
} 
.items{
    display: flex;
    padding: 1%;
} 
.input{
    border-style: none;
    border: solid 1px rgba(128, 128, 128, 0.767);
    color: #ebebeb;
    width: 100%;
    height: 30px;
    margin: auto;
    padding: 6px;
}
.input{
    background-color:transparent;
}
.item_name{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    overflow-y: hidden;
}
.input_names{
    margin: auto;
    width: 565px;
    height: 30px;
    padding: 6px;
    border-style: none;
    border: solid 1px rgba(128, 128, 128, 0.767);
    color: #ebebeb;
}
.input_names{
    background-color:transparent;
    
}
.input_names:focus{
    border-color:#00a6ff !important;
}
.input_mes{
    border-style: none;
    width: 100%;
    height: 90px;
    padding: 6px;
    margin: auto;
    border: solid 1px rgba(128, 128, 128, 0.767);
    color: #ebebeb;
}
.input_mes{
    background-color:transparent;
}
.button{
    display: flex;
    justify-content: center;
    padding: 1%;
    button{
        color:  rgb(255, 255, 255);
        border-style: none;
        border-radius: 25px;
        padding: 10px;
        background-color:#00a6ff;
        font-family: "Roboto", sans-serif;
        font-size:20px ;
        font-weight: 400;
    }
    button:hover{
        background-color: #008ddaad;
        color: rgba(255, 255, 255, 0.842);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}
